{% if is_aws %}
SERIAL 0 9600
{% endif %}
TIMEOUT 1
DEFAULT alpine
LABEL alpine
 SAY Booting alpine
 LINUX vmlinuz-virtgrsec
 INITRD initramfs-virtgrsec
 APPEND root=UUID={{blk_uuid}} modules=sd-mod,ext4,ipv6 {% if is_aws %}console=tty0 console=ttyS0,9600{% endif %}