# Packer build stuff
packer_cache/
ec2_amazon-ebssurrogate.pem
output-virtualbox-iso/

# Terraform test state
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

playbook/*.retry

