# Packer build stuff
packer_cache/
ec2_amazon-ebssurrogate.pem
output-virtualbox-iso/
output-builder/
output-vagrant/
output-vbox/
.vagrant/

# Terraform test state
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

playbook/*.retry
id_rsa_alpine
id_rsa_alpine.pub

